#text3DHome{
    font: bold 97px / 1 verdana;
    text-align: center;
    color: #515355;
    text-shadow: 0 2px 0 #515355d3, 0 4px 0 #515355b6, 0 6px 0 #8ca0b2, 0 8px 0 #778fa4, 3px 8px 15px rgba(0, 0, 0, 0.1), 3px 8px 5px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
#text3DAmerica{
    font: bold 95px / 1 verdana;
    text-align: center;
    color: #00b109;
    text-shadow: 0 2px 0 #068f0df8, 0 4px 0 #046308, 0 6px 0 #09700ee8, 0 8px 0 #033605e8, 3px 8px 15px rgba(0, 0, 0, 0.1), 3px 8px 5px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    animation: slideIn 3s ease-out;
}

#bg1div{
    background-image: url('../assets/InvestIllustrationPNG.png'); /* Ruta de la imagen */
    background-size: 95% 120%; /* Cambia el tamaño de la imagen */
    background-position: 30px; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}
#bg2div{
    background-image: url('../assets/TransferIllustration.png'); /* Ruta de la imagen */
    background-size: 150% 120%; /* Cambia el tamaño de la imagen */
    background-position: -144px; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}
#bg3div{
    background-image: url('../assets/LoanIllustrationHomePNG.png'); /* Ruta de la imagen */
    background-size: 90% 127%; /* Cambia el tamaño de la imagen */
    background-position: 50px; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}
#bg4div{
    background-image: url('../assets/securityIllustrationPNG.png'); /* Ruta de la imagen */
    background-size: 110% 150%; /* Cambia el tamaño de la imagen */
    background-position: -10px -100px; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}
#bg5div{
    background-image: url('../assets/SupportIllustrationPNG.png'); /* Ruta de la imagen */
    background-size: 95% 132%; /* Cambia el tamaño de la imagen */
    background-position: 40px -60px; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

#textGray{
    font: bold 60px / 1 verdana;
    color: #515355;
    text-shadow: 0 2px 0 #515355d3, 0 4px 0 #515355b6, 0 6px 0 #8ca0b2, 0 8px 0 #778fa4, 3px 8px 15px rgba(0, 0, 0, 0.1), 3px 8px 5px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
#textGreen{
    font: bold 60px / 1 verdana;
    color: #00b109;
    text-shadow: 0 2px 0 #068f0df8, 0 4px 0 #046308, 0 6px 0 #09700ee8, 0 8px 0 #033605e8, 3px 8px 15px rgba(0, 0, 0, 0.1), 3px 8px 5px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}


#contentDiv1{
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.623);

    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 45%;
    animation-fill-mode: both;
}
#contentDiv2{
    box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.623);

    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 45%;
    animation-fill-mode: both;
}
#contentDiv3{
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.623);

    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 45%;
    animation-fill-mode: both;
}
#contentDiv4{
    box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.623);

    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 45%;
    animation-fill-mode: both;
}
#contentDiv5{
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.623);

    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 45%;
    animation-fill-mode: both;
}


@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}






#slide-in {
    animation: slideIn 2s ease-out;
}

@keyframes slideIn {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

#fade-in {
    animation: fadeIn 5s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}